In [7]:
#creating a empty class
class Mobile:
    pass

In [2]:
class mobile:
    brandname = "Apple"
# created an object "obj"
obj = mobile()
#printing the mobile name using object
print(f"Mobile Name: {obj.brandname}")

Mobile Name: Apple

In [5]:
class find:
    def __init__(self):
        print("Address of self in Python = ",id(self))
obj1 = find()
print("Address of class object in Python= ",id(obj1))

Address of self in Python =  3037913026048
Address of class object in Python=  3037913026048

In [9]:
class mobile:
    def __init__(self, brandname, price):
        self.brandname = brandname
        self.price = price
    def say_hi(self):
        print(f"Hi, the mobile brand is {self.brandname} and its costs {self.price} rupees.")
mobile1 = mobile("Samsung", 30000)
mobile1.say_hi()

Hi, the mobile brand is Samsung and its costs 30000 rupees.

In [10]:
class college:
    course = 'BE'
    def opted(obj):
        print("Chosen course : ", obj.course)
college.opted = classmethod(college.opted)
college.opted()

Chosen course :  BE

In [11]:
class employee:
    empname = "Ram"
    def print_empname(obj):
        print("The employee name is : ", obj.empname)
employee.print_empname = classmethod(employee.print_empname)
employee.print_empname()

The employee name is :  Ram

Constructors and Destructors in Python

Default Constructor

In [12]:
class employee:
    def __init__(self):
        self.empname = "Tarun"
    def print_empname(self):
        print(self.empname)
obj = employee()
obj.print_empname()

Tarun

Parameterized Constructor

In [18]:
class Product:
    number1 = 0
    number2 = 0
    product = 0
    def __init__(self, n1, n2):
        self.number1 = n1
        self.number2 = n2
    def display(self):
        print("Enter First number = " + str(self.number1))
        print("Enter Second number = " + str(self.number2))
        print("Product of two numbers = " + str(self.product))
    def calc(self):
         self.product = self.number1 * self.number2
obj1 = Product(1000, 2000)
obj2 = Product(10, 20)
obj1.calc()
obj2.calc()
obj1.display()
obj2.display()

Enter First number = 1000
Enter Second number = 2000
Product of two numbers = 2000000
Enter First number = 10
Enter Second number = 20
Product of two numbers = 200

Destructors in Python

In [20]:
class Student:
    def __init__(self):
        print('Student created.')
    def __del__(self):
        print('Destructor was called hence Student deleted.')
obj = Student()
del obj

Student created.
Destructor was called hence Student deleted.

Class constructor in Python

In [21]:
class student:
    def __init__(self, stuname):
        self.stuname = stuname
    def say_hello(self):
        print('Hello, my name is', self.stuname)
p = student('Shiv')
p.say_hello()

Hello, my name is Shiv

Classes and Interfaces in Python

In [22]:
class Bike:
    bikename = ""
    bikegear = 0
bike1 = Bike()
bike1.bikegear = 5
bike1.bikename = "Royal Enfield"
print(f"Name: {bike1.bikename}, Gears: {bike1.bikegear} ")

Name: Royal Enfield, Gears: 5

In [25]:
from abc import *
class Database(ABC):
    @abstractmethod
    def connect(self):
        pass
    @abstractmethod
    def disconnect(self):
        pass
class MySQL(Database):
    def connect(self):
        print('Connecting to MySQL Database...')
    def disconnect(self):
        print('Disconnecting to MySQL Database...')
class MS_SQLServer(Database):
     def connect(self):
        print('Connecting to MS_SQL Server Database...')
     def connect(self):
        print('Disconnecting to MS_SQL Server Database...')
dbname = input('Enter Database Name either MySQL or MS_SQLServer:')
classname = globals()[dbname]
x=classname()
x.connect()
x.disconnect()

Enter Database Name either MySQL or MS_SQLServer: MySQL

Connecting to MySQL Database...
Disconnecting to MySQL Database...

In [27]:
class main:
    def sum(self,a,b):
        return a+b
class my_class:
    def Fun(self,a,b):
        self.a=a
        self.b=b
        y=main.sum(self,a,b)
        print("sum=",y)
ob=my_class()
m = int(input("Enter the first number .\n"))
n = int(input("Enter the second number .\n"))
ob.Fun(m,n)

Enter the first number .
 8
Enter the second number .
 9

sum= 17

Abstract Classes and Methods in Python

In [28]:
from abc import ABC, abstractmethod
class Polygon(ABC):
    @abstractmethod
    def sides(self):
        pass
class Circle(Polygon):
    def sides(self):
        print("Circle have 0 sides")
class Pentagon(Polygon):
    def sides(self):
        print("Pentagon have 5 sides")
class square(Polygon):
    def sides(self):
        print("Square have 4 sides")
class Quadrilateral(Polygon):
    def sides(self):
        print("Quadrilateral have 6 sides")
R = Circle()
R.sides()
K = Quadrilateral()
K.sides()
R = Pentagon()
R.sides()
K = square()
K.sides()

Circle have 0 sides
Quadrilateral have 6 sides
Pentagon have 5 sides
Square have 4 sides

Variables in Python

In [29]:
x = 10
y = "james"
print(x)
print(y)
print(type(x))
print(type(y))

10
james
<class 'int'>
<class 'str'>

In [30]:
x = str(30)
y = int(10)
z = float(5)
a = "john"
A = "james"
print(x,y,z,a,A)

30 10 5.0 john james

In [31]:

myvar = "myvar John"
my_var = "my_var John"
_my_var = "_my_var John"
myVar = "myVar John"
MYVAR = "MYVAR John"
myvar2 = "myvar2 John"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

myvar John
my_var John
_my_var John
myVar John
MYVAR John
myvar2 John

In [32]:
#set of invalid variable naming
2myvar = "John"

SyntaxError: invalid decimal literal (972334799.py, line 2)

In [33]:
my-var = "John"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1199629495.py, line 1)

In [34]:

my var = "John"

SyntaxError: invalid syntax (260843895.py, line 1)

In [35]:

x = y = z = "Apple"
print(x)
print(y)
print(z)

Apple
Apple
Apple

In [36]:
transport = ["cycle", "bus", "bike"]
x, y, z = transport
print(x)
print(y)
print(z)

cycle
bus
bike

In [37]:
x = "Python "
y = "Programming "
z = "is easy"
print(x + y + z)

Python Programming is easy

In [38]:
x = "Programming"
def myfunc():
  x = "Programming"
  print("Python  " + x)
myfunc()
print("Python " + x)

Python  Programming
Python Programming

Changing Class Members in Python

In [39]:
class MyClass:
    count = 0
MyClass.count = 10

In [40]:
class MyClass:
    def __init__(self):
        self.value = 0
obj = MyClass()
obj.value = 10

Modifying class methods

In [41]:
class MyClass:
    def my_method(self):
        print("Hello, Everyone!")
class MySubclass(MyClass):
    def my_method(self):
        print("Thankyou!")
obj = MySubclass()
obj.my_method()

Thankyou!

In [42]:
class MyClass:
    def my_method(self):
        print("Hello, Everyone!")
obj = MyClass()
obj.my_method = lambda: print("Thankyou")
obj.my_method()

Thankyou

Polymorphism in Python

Duck Typing in Python

In [45]:
class sample:
    def __len__(self):
        return 30
if __name__ == "__main__":
    str = sample()
    print(len(str))

30

Operator Overloading in Python

In [48]:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)
v1 = Vector(1, 2)
v2 = Vector(3, 4)
v3 = v1 + v2
print(v3.x, v3.y)

4 6

Encapsulation in Python

In [51]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age
    def get_age(self):
        return self.__age
    def set_age(self, age):
        if age > 0 and age < 120:
            self.__age = age
    def display(self):
        print(f"Name: {self.name}, Age: {self.__age}")

Person = Person("John", 30)
Person.display()
Person.set_age(35)
Person.display()
print(Person.get_age())

Name: John, Age: 30
Name: John, Age: 35
35

Inheritance in Python

In [57]:
class Parent:
    def __init__(self, fname, year):
        self.fname = fname
        self.year = year
    def view(self):
         print(self.fname, self.year)
class Child(Parent):
    def __init__(self, fname, year):
        Parent.__init__(self,fname,year)
        self.inventorname = "Guido van Rossum"
    def view(self):
        print(self.fname, "was developed by",self.inventorname,"in",self.year,"s")
ob = Child("Python Programming",'1980')
ob.view()

Python Programming was developed by Guido van Rossum in 1980 s

Data Abstraction in Python

In [61]:
from abc import ABC,abstractmethod
class Subject(ABC):
    def subject(self):
        pass
class History(Subject):
    def subject(self):
        print("Subject is History")
class Civics(Subject):
    def subject(self):
        print("Subject is Civics")
class Geography(Subject):
    def subject(self):
        print("Subject is Geography")
class Economics(Subject):
    def subject(self):
        print("Subject is Economics")
history = History()
history.subject()
civics = Civics()
civics.subject() 
geography = Geography()
geography.subject()  
economics = Economics()
economics.subject()

Subject is History
Subject is Civics
Subject is Geography
Subject is Economics

Method Overriding in Python

In [62]:
from math import pi
class Shape:
    def __init__(self, name):
        self.name = name
    def area(self):
         pass
    def fact(self):
        return "I am a two-dimensional shape."
    def __str__(self):
        return self.name
class Square(Shape):
    def __init__(self, length):
        super().__init__("Square")
        self.length = length
    def area(self):
        return self.length**2
    def fact(self):
        return "Squares have each angle equal to 90 degrees."
class Circle(Shape):
     def __init__(self, radius):
            super().__init__("Circle")
            self.radius = radius
     def area(self):
         return pi*self.radius**2
a = Square(2)
b = Circle(3)
print(b)
print(b.fact())
print(a.fact())
print(b.area())

Circle
I am a two-dimensional shape.
Squares have each angle equal to 90 degrees.
28.274333882308138

Use of Super Method in Python

In [63]:
class Parent:
    def __init__(self):
        print("Parent constructor called")

class Child(Parent):
    def __init__(self):
        print("Child constructor called")

c = Child()

Child constructor called

In [64]:
class Parent:
    def __init__(self):
        print("Parent constructor called")

class Child(Parent):
    def __init__(self):
        super().__init__()  # Call parent constructor
        print("Child constructor called")

c = Child()

Parent constructor called
Child constructor called

Method Overloading in Python

In [67]:
class MathOperations:
    def add(self, a, b, c=0):
        return a + b + c
math_ops = MathOperations()

print(math_ops.add(1, 2))
print(math_ops.add(1, 2, 3))

3
6

Another way to simulate method overloading in Python is to use variable-length argument list.

In [70]:
class MathOperations:
    def add(self, *args):
        result = 0
        for arg in args:
            result += arg
        return result
math_ops = MathOperations()

print(math_ops.add(1, 2))
print(math_ops.add(1, 2, 3))
print(math_ops.add(1, 2, 3, 4, 5))

3
6
15