In [7]:
#creating a empty class
class Mobile:
    pass

In [2]:
class mobile:
    brandname = "Apple"
# created an object "obj"
obj = mobile()
#printing the mobile name using object
print(f"Mobile Name: {obj.brandname}")

Mobile Name: Apple

In [5]:
class find:
    def __init__(self):
        print("Address of self in Python = ",id(self))
obj1 = find()
print("Address of class object in Python= ",id(obj1))

Address of self in Python =  3037913026048
Address of class object in Python=  3037913026048

In [9]:
class mobile:
    def __init__(self, brandname, price):
        self.brandname = brandname
        self.price = price
    def say_hi(self):
        print(f"Hi, the mobile brand is {self.brandname} and its costs {self.price} rupees.")
mobile1 = mobile("Samsung", 30000)
mobile1.say_hi()

Hi, the mobile brand is Samsung and its costs 30000 rupees.

In [10]:
class college:
    course = 'BE'
    def opted(obj):
        print("Chosen course : ", obj.course)
college.opted = classmethod(college.opted)
college.opted()

Chosen course :  BE

In [11]:
class employee:
    empname = "Ram"
    def print_empname(obj):
        print("The employee name is : ", obj.empname)
employee.print_empname = classmethod(employee.print_empname)
employee.print_empname()

The employee name is :  Ram

Constructors and Destructors in Python

Default Constructor

In [12]:
class employee:
    def __init__(self):
        self.empname = "Tarun"
    def print_empname(self):
        print(self.empname)
obj = employee()
obj.print_empname()

Tarun

Parameterized Constructor

In [18]:
class Product:
    number1 = 0
    number2 = 0
    product = 0
    def __init__(self, n1, n2):
        self.number1 = n1
        self.number2 = n2
    def display(self):
        print("Enter First number = " + str(self.number1))
        print("Enter Second number = " + str(self.number2))
        print("Product of two numbers = " + str(self.product))
    def calc(self):
         self.product = self.number1 * self.number2
obj1 = Product(1000, 2000)
obj2 = Product(10, 20)
obj1.calc()
obj2.calc()
obj1.display()
obj2.display()

Enter First number = 1000
Enter Second number = 2000
Product of two numbers = 2000000
Enter First number = 10
Enter Second number = 20
Product of two numbers = 200

Destructors in Python

In [20]:
class Student:
    def __init__(self):
        print('Student created.')
    def __del__(self):
        print('Destructor was called hence Student deleted.')
obj = Student()
del obj

Student created.
Destructor was called hence Student deleted.

Class constructor in Python

In [21]:
class student:
    def __init__(self, stuname):
        self.stuname = stuname
    def say_hello(self):
        print('Hello, my name is', self.stuname)
p = student('Shiv')
p.say_hello()

Hello, my name is Shiv

Classes and Interfaces in Python

In [22]:
class Bike:
    bikename = ""
    bikegear = 0
bike1 = Bike()
bike1.bikegear = 5
bike1.bikename = "Royal Enfield"
print(f"Name: {bike1.bikename}, Gears: {bike1.bikegear} ")

Name: Royal Enfield, Gears: 5

In [25]:
from abc import *
class Database(ABC):
    @abstractmethod
    def connect(self):
        pass
    @abstractmethod
    def disconnect(self):
        pass
class MySQL(Database):
    def connect(self):
        print('Connecting to MySQL Database...')
    def disconnect(self):
        print('Disconnecting to MySQL Database...')
class MS_SQLServer(Database):
     def connect(self):
        print('Connecting to MS_SQL Server Database...')
     def connect(self):
        print('Disconnecting to MS_SQL Server Database...')
dbname = input('Enter Database Name either MySQL or MS_SQLServer:')
classname = globals()[dbname]
x=classname()
x.connect()
x.disconnect()

Enter Database Name either MySQL or MS_SQLServer: MySQL

Connecting to MySQL Database...
Disconnecting to MySQL Database...

In [27]:
class main:
    def sum(self,a,b):
        return a+b
class my_class:
    def Fun(self,a,b):
        self.a=a
        self.b=b
        y=main.sum(self,a,b)
        print("sum=",y)
ob=my_class()
m = int(input("Enter the first number .\n"))
n = int(input("Enter the second number .\n"))
ob.Fun(m,n)

Enter the first number .
 8
Enter the second number .
 9

sum= 17